{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "react/destructuring-assignment": [false],
    "react/jsx-filename-extension": 0,
    "import/extensions": ["js", "jsx"],
    "import/no-absolute-path": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-wrap-multilines": 0,
    "no-param-reassign": 0,
    "prefer-destructuring": 0
  }
}
