.container {
  padding: 16px;

  .selectSurveyForm {
    min-width: 100px;
  }
}

.chartToolTip {
  text-align: center;
  background: rgba(254, 250, 240, 0.8);
  width: 10%;
  padding: 5px;
  margin: auto;
  position: absolute;
  z-index: 1;
}

.axisTitle {
  fill: #3C4858;
}
