.calendar {
  &Wrapper {
    padding: 16px;
    flex-grow: 1;
  }

  &Header {
    display: flex;
    margin-bottom: 16px;

    &LeftItem {
      flex-grow: 1;
      
      & > div {
        margin-right: 24px;
      }

      & > button {
        margin: 0 8px;
      }

      .calendarTimezone {
        margin-right: 32px;
      }
    }
  }

  &Navigation {
    display: inline-flex;
  }
}

.isDayCalendar {
  :global .tui-full-calendar-floating-layer {
    left: 0 !important;
  }
}
