.wrapper {
  .label {
    display: flex;
    align-items: flex-end;

    &:not(:first-child) {
      justify-content: center;
    }
  }

  div[class*="DateFormatInput-form"],
  div[class*="TimeFormatInput-form"] {
    width: 100%;
  }

  div[class*="DateFormatInput-input"],
  div[class*="TimeFormatInput-input"] {
    min-height: 2.5rem;
    line-height: 2.5rem;
  }
}

.tmpServiceContentDivider {
  display: flex;
  justify-content: center;

  > hr {
    width: 30%;
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.fullWidthSelect {
  width: 100%;
}

.calendarDesc {
  width: 100%;
}

.calendarDialogTitle {
  border-bottom: #e0e0e0 1px solid;
  display: flex;
}

.calendarDialogFooter {
  border-top: #e0e0e0 1px solid;
  padding: 16px;
  margin: 0;
}
