.calendarDialogTitle {
  border-bottom: #e0e0e0 1px solid;
  display: flex;
}

.calendarDialogFooter {
  border-top: #e0e0e0 1px solid;
  padding: 16px;
  margin: 0;

  .prevButton {
    margin-right: auto;
  }
}
