.loading {
  &Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
    transform: translateY(100px);
    padding-bottom: 150px;
    background-color: rgba(211, 211, 211, 0.6);
  }

  &Icon {
    min-width: 150px;
    min-height: 150px;

    animation: beat 0.8s infinite alternate;
    transform-origin: center;

    @keyframes beat {
      to {
        transform: scale(1.2);
      }
    }
  }
}
