.wrapper {
  margin-left: 16px;
}

.listView {
  height: calc(100vh - 48px);
  overflow: hidden auto;
}

.row:not(:last-child) {
  margin-bottom: 8px;
}

.eventContent {
  padding: 16px;
}

.eventActions {
  margin-top: 8px;
}
