.header {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.content {
  .slotGrid {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.slot:not(:last-child) {
  margin-bottom: 16px;
}

.navigationButtons {
  margin-top: 8px;
}

.prevButton {
  flex-grow: 1;
}
