.averageBox {
  align-items: flex-end;

  p[class*="MuiFormHelperText-error"] {
    position: absolute;
    bottom: -1rem;
  }
}

.breakTime {
  &Wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p[class*="MuiFormHelperText-error"] {
      display: none;
    }
  }

  &Icon {
    margin-left: 8px;
  }

  &Help {
    display: flex;
    align-items: center;
  }
}
